
<div class="container-fluid">
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="#">
      <i class="fa fa-bolt"></i>    
      Light Chaser
    </a>
  </nav>

  <section id="main" style="padding-top: 54px">
    <h1>
      {{title}}
    </h1>

    <div style="text-align: center; position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 500px; height: 400px; margin: auto">
      <button class="start-button btn btn-outline-primary btn-lg">
        START
      </button>
    </div>

  </section>
</div>
